<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>About - Tattoo Shop Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<ul id="navigation">
			<li class="first"><a href="index.html" id="link1">Home</a></li>
			<li><a href="portfolio.html" id="link2">Portfolio</a></li>
			<li class="selected"><a href="about.html" id="link3">About</a></li>
			<li><a href="rates.html" id="link4">Rates</a></li>
			<li><a href="news.html" id="link5">News</a></li>
			<li><a href="blog.html" id="link6">Blogs</a></li>
			<li><a href="contact.html" id="link7">Contact Us</a></li>
		</ul>
		<a href="index.html" id="logo"><img src="images/logo.gif" alt=""/></a>
	</div>
	<div id="content">
		<div id="about">
			<div class="first">
				<h2>About</h2>
				<h3>We Have Free Templates for Everyone</h3>
				<p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/termsofuse/">Terms of Use</a>. You can even remove all our links if you want to.</p>
				<h3>We Have More Templates for You</h3>
				<p>Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and find what you're looking for. But if you don't find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.</p>
				<h3>Be Part of Our Community</h3>
				<p>If you're experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forum/">on our forum</a> and meet other people in the community who share the same interests with you.</p>
				<h3>Template details</h3>
				<p>Design version 6 <br> Code version 3 <br> 
				Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/forum/f18/">Tattoo Shop Website Template</a>. Website Template design by 
				<a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.<br>
				Please feel free to remove some or all the text and links of this page and replace it with your own About content.</p>
			</div>
			<div>
				<ul>
					<li>
						<a href="#"><img src="images/boy.jpg" alt=""/></a>
						<h4>Donec justo</h4>
						<span>Maecenas sollicitudin</span>
						<p>pharetra duised euismod. Aliquamnon erat tellusnunc interdum viverra ipsum sed fringilla.</p>
					</li>
					<li>
						<a href="#"><img src="images/boy-dreadlocks.jpg" alt=""/></a>
						<h4>Mauris fringilla</h4>
						<span>Maecenas sollicitudin</span>
						<p>pharetra duised euismod. Aliquamnon erat tellusnunc interdum viverra ipsum sed fringilla.</p>
					</li>
					<li>
						<a href="#"><img src="images/girl.jpg" alt=""/></a>
						<h4>Parturient montes</h4>
						<span>Maecenas sollicitudin</span>
						<p>pharetra duised euismod. Aliquamnon erat tellusnunc interdum viverra ipsum sed fringilla.</p>
					</li>
					<li>
						<a href="#"><img src="images/boy-curly-hair.jpg" alt=""/></a>
						<h4>Nulla molestie</h4>
						<span>Maecenas sollicitudin</span>
						<p>pharetra duised euismod. Aliquamnon erat tellusnunc interdum viverra ipsum sed fringilla.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div class="first">
				<h4><a href="about.html">About</a></h4>
				<a href="about.html"><img src="images/the-tattoo-artists.jpg" alt=""/></a>
				<span>Vikenti , Aliquam, Lacinia,Hendre and Suadat</span>
			</div>
			<div>
				<h4>Testimonials</h4>
				<p>Sed posuere, augue eget luctus suscipit, augue lorem lacinia risus, placerat pulvinar nisi odio volutpat nulla. - Jack D.</p>
				<p>Aliquam ac tellus lorem. Aliquam semper malesuada enim - Morbi hicula</p>
				<p>Nulla massa ipsum, accumsan quis aliquam eu, consequat quis nisi. Ut quam nibh, dignissim - Tortor Commodo</p>
			</div>
			<div id="contact">
				<h4>Contact</h4>
				<a href="#" id="email">Vikenti Oprinchuk@email.kj</a>
				<a href="#" id="phone">987-000-457 / (3258) 576-123-192</a>
				<a href="#" id="address">Unit-A Liquam erat volutpat Aenean <br> Morbi vehicula dolor nec tortor 6789</a>
				<a href="http://facebook.com/freewebsitetemplates" id="facebook">Facebook</a>
				<a href="http://twitter.com/fwtemplates" id="twitter">Twitter</a>
			</div>
			<p>&#169; Copyright 2011. All Rights Reserved.</p>
		</div>
	</div>
</body>
</html>