<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>News - Tattoo Shop Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<ul id="navigation">
			<li class="first"><a href="index.html" id="link1">Home</a></li>
			<li><a href="portfolio.html" id="link2">Portfolio</a></li>
			<li><a href="about.html" id="link3">About</a></li>
			<li><a href="rates.html" id="link4">Rates</a></li>
			<li class="selected"><a href="news.html" id="link5">News</a></li>
			<li><a href="blog.html" id="link6">Blogs</a></li>
			<li><a href="contact.html" id="link7">Contact Us</a></li>
		</ul>
		<a href="index.html" id="logo"><img src="images/logo.gif" alt=""/></a>
	</div>
	<div id="content">
		<div id="news">
			<div class="first">
				<h2>News</h2>
				<h3>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.</h3>
				<span>Nov. 16, 09:38am</span>
				<p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
				<p>If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p>
				<p>Maecenas sodales placerat elit, sit amet sagittis augue imperdiet at. Sed massa odio, lacinia id interdum feugiat, sollicitudin id nibh. Donec imperdiet volutpat turpis eu bibendum. Vestibulum ullamcorper, augue et feugiat rhoncus, ligula metus ullamcorper felis, eu ullamcorper magna mauris vel tellus. Cras auctor lacinia fermentum. Ut non eros a erat mattis sagittis. Quisque vel felis non est sagittis lobortis in at massa. Ut fringilla nibh et justo dapibus bibendum.</p>
				<p>Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and find what you're looking for. But if you don't find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.</p>
			</div>
			<div>
				<h3>Other News</h3>
				<ul>
					<li class="first">
						<p>Pellent esquea lacusaenim con vallis pretium quismagna.</p>
					</li>
					<li>
						<p>Cum sociis natoque penatibus et magnis quismagna sceler isque ametelementsapien</p>
					</li>
					<li>
						<p>Pellentesque pharetra acum san diam sit ametelementum.</p>
					</li>
					<li>
						<p>Aenean quismagna. quismagna leophasellus hendrerit</p>
					</li>
					<li>
						<p>Adipiscing natoque penatibus et magnis  blandit nuncPellent esq uea lacus aenim con vallis pret ium quismagna</p>
					</li>
					<li>
						<p>Cum sociis natoque penatibus et magnis quismagna sceler isque ametelementsapien</p>
					</li>
					<li>
						<p>Pellentesque pharetra acum san diam sit ametelementum</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div class="first">
				<h4><a href="about.html">About</a></h4>
				<a href="about.html"><img src="images/the-tattoo-artists.jpg" alt=""/></a>
				<span>Vikenti , Aliquam, Lacinia,Hendre and Suadat</span>
			</div>
			<div>
				<h4>Testimonials</h4>
				<p>Sed posuere, augue eget luctus suscipit, augue lorem lacinia risus, placerat pulvinar nisi odio volutpat nulla. - Jack D.</p>
				<p>Aliquam ac tellus lorem. Aliquam semper malesuada enim - Morbi hicula</p>
				<p>Nulla massa ipsum, accumsan quis aliquam eu, consequat quis nisi. Ut quam nibh, dignissim - Tortor Commodo</p>
			</div>
			<div id="contact">
				<h4>Contact</h4>
				<a href="#" id="email">Vikenti Oprinchuk@email.kj</a>
				<a href="#" id="phone">987-000-457 / (3258) 576-123-192</a>
				<a href="#" id="address">Unit-A Liquam erat volutpat Aenean <br> Morbi vehicula dolor nec tortor 6789</a>
				<a href="http://facebook.com/freewebsitetemplates" id="facebook">Facebook</a>
				<a href="http://twitter.com/fwtemplates" id="twitter">Twitter</a>
			</div>
			<p>&#169; Copyright 2011. All Rights Reserved.</p>
		</div>
	</div>
</body>
</html>