<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Portfolio - Tattoo Shop Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<ul id="navigation">
			<li class="first"><a href="index.html" id="link1">Home</a></li>
			<li class="selected"><a href="portfolio.html" id="link2">Portfolio</a></li>
			<li><a href="about.html" id="link3">About</a></li>
			<li><a href="rates.html" id="link4">Rates</a></li>
			<li><a href="news.html" id="link5">News</a></li>
			<li><a href="blog.html" id="link6">Blogs</a></li>
			<li><a href="contact.html" id="link7">Contact Us</a></li>
		</ul>
		<a href="index.html" id="logo"><img src="images/logo.gif" alt=""/></a>
	</div>
	<div id="content">
		<div id="portfolio">
			<h2>Portfolio</h2>
			<ul>
				<li>
					<a href="#"><img src="images/portfolio-arm-tattoo.jpg" alt=""/></a>
				</li>
				<li>
					<a href="#"><img src="images/portfolio-shoulder-tattoo.jpg" alt=""/></a>
				</li>
				<li>
					<a href="#"><img src="images/portfolio-hips-tattoo.jpg" alt=""/></a>
				</li>
				<li>
					<a href="#"><img src="images/portfolio-hips-tattoo2.jpg" alt=""/></a>
				</li>
				<li>
					<a href="#"><img src="images/portfolio-legs-tattoo.jpg" alt=""/></a>
				</li>
				<li>
					<a href="#"><img src="images/portfolio-arm-tattoo2.jpg" alt=""/></a>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div>
			<div class="first">
				<h4><a href="about.html">About</a></h4>
				<a href="about.html"><img src="images/the-tattoo-artists.jpg" alt=""/></a>
				<span>Vikenti , Aliquam, Lacinia,Hendre and Suadat</span>
			</div>
			<div>
				<h4>Testimonials</h4>
				<p>Sed posuere, augue eget luctus suscipit, augue lorem lacinia risus, placerat pulvinar nisi odio volutpat nulla. - Jack D.</p>
				<p>Aliquam ac tellus lorem. Aliquam semper malesuada enim - Morbi hicula</p>
				<p>Nulla massa ipsum, accumsan quis aliquam eu, consequat quis nisi. Ut quam nibh, dignissim - Tortor Commodo</p>
			</div>
			<div id="contact">
				<h4>Contact</h4>
				<a href="#" id="email">Vikenti Oprinchuk@email.kj</a>
				<a href="#" id="phone">987-000-457 / (3258) 576-123-192</a>
				<a href="#" id="address">Unit-A Liquam erat volutpat Aenean <br> Morbi vehicula dolor nec tortor 6789</a>
				<a href="http://facebook.com/freewebsitetemplates" id="facebook">Facebook</a>
				<a href="http://twitter.com/fwtemplates" id="twitter">Twitter</a>
			</div>
			<p>&#169; Copyright 2011. All Rights Reserved.</p>
		</div>
	</div>
</body>
</html>