<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Rates - Tattoo Shop Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<ul id="navigation">
			<li class="first"><a href="index.html" id="link1">Home</a></li>
			<li><a href="portfolio.html" id="link2">Portfolio</a></li>
			<li><a href="about.html" id="link3">About</a></li>
			<li class="selected"><a href="rates.html" id="link4">Rates</a></li>
			<li><a href="news.html" id="link5">News</a></li>
			<li><a href="blog.html" id="link6">Blogs</a></li>
			<li><a href="contact.html" id="link7">Contact Us</a></li>
		</ul>
		<a href="index.html" id="logo"><img src="images/logo.gif" alt=""/></a>
	</div>
	<div id="content">
		<div id="rates">
			<h2>Rates</h2>
			<div class="rates">
				<h4>Tattoo</h4>
				<table>
					<tr>
						<td class="type">Pharetra duised euismod</td>
						<td class="price">&pound; 00.00</td>
					</tr>
					<tr>
						<td class="type">Aliquamnon erat tellusnunc</td>
						<td class="price">&pound; 00.00</td>
					</tr>
					<tr>
						<td class="type">Interdum viverra ipsum sed</td>
						<td class="price">&pound; 00.00</td>
					</tr>
					<tr>
						<td class="type">Maecenas sodales placerat</td>
						<td class="price">&pound; 00.00</td>
					</tr>
					<tr>
						<td class="type">Habitasse platea dictumst</td>
						<td class="price">&pound; 00.00</td>
					</tr>
					<tr>
						<td class="type">Sed sed feugiat urna</td>
						<td class="price">&pound; 00.00</td>
					</tr>
				</table>
			</div>
			<div class="rates">
				<h4>Piercing</h4>
				<table>
					<tr>
						<td class="type">Terdum viverra ipsum sed</td>
						<td class="price">&pound; 00.00</td>
					</tr>
					<tr>
						<td class="type">Maecenas sodales placerat</td>
						<td class="price">&pound; 00.00</td>
					</tr>
					<tr>
						<td class="type">Habitasse platea dictumst</td>
						<td class="price">&pound; 00.00</td>
					</tr>
					<tr>
						<td class="type">Sed sed feugiat urna</td>
						<td class="price">&pound; 00.00</td>
					</tr>
					<tr>
						<td class="type">Pharetra duised euismod</td>
						<td class="price">&pound; 00.00</td>
					</tr>
					<tr>
						<td class="type">Aliquamnon erat tellusnunc</td>
						<td class="price">&pound; 00.00</td>
					</tr>
				</table>
			</div>
			<div>
				<h3>This website template has been designed by freewebsitetemplates.com</h3>
				<ul>
					<li><p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.</p></li>
					<li><p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p></li>
					<li><p>If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div class="first">
				<h4><a href="about.html">About</a></h4>
				<a href="about.html"><img src="images/the-tattoo-artists.jpg" alt=""/></a>
				<span>Vikenti , Aliquam, Lacinia,Hendre and Suadat</span>
			</div>
			<div>
				<h4>Testimonials</h4>
				<p>Sed posuere, augue eget luctus suscipit, augue lorem lacinia risus, placerat pulvinar nisi odio volutpat nulla. - Jack D.</p>
				<p>Aliquam ac tellus lorem. Aliquam semper malesuada enim - Morbi hicula</p>
				<p>Nulla massa ipsum, accumsan quis aliquam eu, consequat quis nisi. Ut quam nibh, dignissim - Tortor Commodo</p>
			</div>
			<div id="contact">
				<h4>Contact</h4>
				<a href="#" id="email">Vikenti Oprinchuk@email.kj</a>
				<a href="#" id="phone">987-000-457 / (3258) 576-123-192</a>
				<a href="#" id="address">Unit-A Liquam erat volutpat Aenean <br> Morbi vehicula dolor nec tortor 6789</a>
				<a href="http://facebook.com/freewebsitetemplates" id="facebook">Facebook</a>
				<a href="http://twitter.com/fwtemplates" id="twitter">Twitter</a>
			</div>
			<p>&#169; Copyright 2011. All Rights Reserved.</p>
		</div>
	</div>
</body>
</html>