@model tatoo.shop.Models.TatooShop.AboutModel
@using tatoo.shop.Settings;

@{
    ViewBag.Title = Titles.AboutPageTitle;
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div id="about">
    <div class="first">
        <h2>About</h2>
        <h3>We Have Free Templates for Everyone</h3>
        <p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/termsofuse/">Terms of Use</a>. You can even remove all our links if you want to.</p>
        <h3>We Have More Templates for You</h3>
        <p>Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and find what you're looking for. But if you don't find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.</p>
        <h3>Be Part of Our Community</h3>
        <p>If you're experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forum/">on our forum</a> and meet other people in the community who share the same interests with you.</p>
        <h3>Template details</h3>
        <p>
            Design version 6
            <br>
            Code version 3
            <br>
            Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/forum/f18/">Tattoo Shop Website Template</a>. Website Template design by 
				<a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.<br>
            Please feel free to remove some or all the text and links of this page and replace it with your own About content.
        </p>
    </div>
    <div>
        <ul>
            <li>
                <a href="#">
                    <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/boy.jpg")" alt="" /></a>
                <h4>Donec justo</h4>
                <span>Maecenas sollicitudin</span>
                <p>pharetra duised euismod. Aliquamnon erat tellusnunc interdum viverra ipsum sed fringilla.</p>
            </li>
            <li>
                <a href="#">
                    <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/boy-dreadlocks.jpg")" alt="" /></a>
                <h4>Mauris fringilla</h4>
                <span>Maecenas sollicitudin</span>
                <p>pharetra duised euismod. Aliquamnon erat tellusnunc interdum viverra ipsum sed fringilla.</p>
            </li>
            <li>
                <a href="#">
                    <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/girl.jpg")" alt="" /></a>
                <h4>Parturient montes</h4>
                <span>Maecenas sollicitudin</span>
                <p>pharetra duised euismod. Aliquamnon erat tellusnunc interdum viverra ipsum sed fringilla.</p>
            </li>
            <li>
                <a href="#">
                    <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/boy-curly-hair.jpg")" alt="" /></a>
                <h4>Nulla molestie</h4>
                <span>Maecenas sollicitudin</span>
                <p>pharetra duised euismod. Aliquamnon erat tellusnunc interdum viverra ipsum sed fringilla.</p>
            </li>
        </ul>
    </div>
</div>
