@model tatoo.shop.Models.TatooShop.BlogsModel
@using tatoo.shop.Settings;

@{
    ViewBag.Title = Titles.BlogsPageTitle;
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div id="blog">
    <div class="first">
        <h2>Blogs</h2>
        <h3>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free!</h3>
        <span>Nov. 16, 09:38am</span>
        <p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
        <p>If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p>
        <p>Vestibulum nulla nisi, vulputate eu euismod quis. In cursus scelerisque odio nec consequat. In hac habitasse platea dictumst. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse at magna dui, in vehicula sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. Maecenas sodales placerat elit, sit amet sagittis augue imperdiet at. Sed massa odio, lacinia id interdum feugiat, sollicitudin id nibh. Donec imperdiet volutpat turpis eu bibendum. Vestibulum ullamcorper, augue et feugiat rhoncus, ligula metus ullamcorper felis, eu ullamcorper magna mauris vel tellus. Cras auctor lacinia fermentum. Ut non eros a erat mattis sagittis. Quisque vel felis non est sagittis lobortis in at massa.</p>
    </div>
    <div>
        <h3>Featured post</h3>
        <ul>
            <li class="first">
                <p>Pellent esquea lacusaenim con vallis pretium quismagna.</p>
            </li>
            <li>
                <p>Cum sociis natoque penatibus et magnis quismagna sceler isque ametelementsapien</p>
            </li>
            <li>
                <p>Pellentesque pharetra acum san diam sit ametelementum.</p>
            </li>
            <li>
                <p>Aenean quismagna. quismagna leophasellus hendrerit</p>
            </li>
            <li>
                <p>Adipiscing natoque penatibus et magnis  blandit nuncPellent esq uea lacus aenim con vallis pret ium quismagna</p>
            </li>
            <li>
                <p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free.</p>
            </li>
        </ul>
    </div>
</div>
