@model tatoo.shop.Models.TatooShop.RatesModel
@using tatoo.shop.Settings;
@{
    ViewBag.Title = Titles.RatesPageTitle;
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div id="rates">
    <h2>Rates</h2>
    <div class="rates">
        <h4>Tattoo</h4>
        <table>
            <tr>
                <td class="type">Pharetra duised euismod</td>
                <td class="price">&pound; 00.00</td>
            </tr>
            <tr>
                <td class="type">Aliquamnon erat tellusnunc</td>
                <td class="price">&pound; 00.00</td>
            </tr>
            <tr>
                <td class="type">Interdum viverra ipsum sed</td>
                <td class="price">&pound; 00.00</td>
            </tr>
            <tr>
                <td class="type">Maecenas sodales placerat</td>
                <td class="price">&pound; 00.00</td>
            </tr>
            <tr>
                <td class="type">Habitasse platea dictumst</td>
                <td class="price">&pound; 00.00</td>
            </tr>
            <tr>
                <td class="type">Sed sed feugiat urna</td>
                <td class="price">&pound; 00.00</td>
            </tr>
        </table>
    </div>
    <div class="rates">
        <h4>Piercing</h4>
        <table>
            <tr>
                <td class="type">Terdum viverra ipsum sed</td>
                <td class="price">&pound; 00.00</td>
            </tr>
            <tr>
                <td class="type">Maecenas sodales placerat</td>
                <td class="price">&pound; 00.00</td>
            </tr>
            <tr>
                <td class="type">Habitasse platea dictumst</td>
                <td class="price">&pound; 00.00</td>
            </tr>
            <tr>
                <td class="type">Sed sed feugiat urna</td>
                <td class="price">&pound; 00.00</td>
            </tr>
            <tr>
                <td class="type">Pharetra duised euismod</td>
                <td class="price">&pound; 00.00</td>
            </tr>
            <tr>
                <td class="type">Aliquamnon erat tellusnunc</td>
                <td class="price">&pound; 00.00</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>This website template has been designed by freewebsitetemplates.com</h3>
        <ul>
            <li>
                <p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.</p>
            </li>
            <li>
                <p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
            </li>
            <li>
                <p>If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p>
            </li>
        </ul>
    </div>
</div>
