<div>
    <div class="first">
        <h4><a href="#">About</a></h4>
        <a href="#">
            <img src="@Url.Content("~/Template/tattooshopwebsitetemplate/images/the-tattoo-artists.jpg")" alt=""></a>
        <span>This is just a place holder.</span>
    </div>
    <div>
        <h4>Testimonials</h4>
        <p><a rel="nofollow" href="http://www.wix.com/fwthtml/400-en?utm_source=freewebsitetemplates&amp;utm_medium=link&amp;utm_term=preview&amp;utm_content=ma_html_fwt_preview2&amp;utm_campaign=ma_fwt&amp;experiment_id=ma_html_fwt_preview2" class="OverlayTrigger" data-href="/click/tl/23/">Wix</a> also offers a ton of free design elements right inside the editor, like images, icons, animation files, and interactive widgets. Publish your <a rel="nofollow" href="http://www.wix.com/fwthtml/complete-solution?utm_source=freewebsitetemplates&amp;utm_medium=link&amp;utm_term=preview&amp;utm_content=ma_html_fwt_preview3&amp;utm_campaign=ma_fwt&amp;experiment_id=ma_html_fwt_preview3" class="OverlayTrigger" data-href="/click/tl/22/">Free Website</a> in minutes!</p>
        <p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
        <p>If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.</p>
    </div>
    <div id="contact">
        <h4>Contact</h4>
        <a href="#" id="email">Vikenti Oprinchuk@email.kj</a>
        <a href="#" id="phone">987-000-457 / (3258) 576-123-192</a>
        <a href="#" id="address">This is just a place holder.</a>
        <a href="http://facebook.com/freewebsitetemplates" id="facebook">Facebook</a>
        <a href="http://twitter.com/fwtemplates" id="twitter">Twitter</a>
    </div>
    <p>© Copyright 2011. All Rights Reserved.</p>
</div>
